<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Project Vue</title>
</head>

<body>
    <div id="app">
        <input type="radio" id="animal" value="animal" v-model="loveType">
        <label for="animal">Animal</label>
        <input type="radio" id="flower" value="flower" v-model="loveType">
        <label for="flower">Flower</label>
        <br>
        <template id='listAnimal' v-if="isLoveAnimal">
            <div>
                <input type="checkbox" id="Dog" value="Dog" v-model="loveList">
                <label for="Dog"> Dog</label>
                <input type="checkbox" id="Cat" value="Cat" v-model="loveList">
                <label for="Cat"> Cat</label>
                <input type="checkbox" id="Bird" value="Bird" v-model="loveList">
                <label for="Bird"> Bird </label>
                <br>
            </div>
        </template>
        <template id='listFlower' v-else if="isLoveFlower">
            <div>
                <input type="checkbox" id="rose" value="rose" v-model="loveList">
                <label for="rose"> Rose</label>
                <input type="checkbox" id="lotus" value="lotus" v-model="loveList">
                <label for="lotus"> Lotus</label>
                <input type="checkbox" id="mali" value="mali" v-model="loveList">
                <label for="mali"> Mali </label>
                <br>
            </div>
        </template>
        <template v-else>
            <div>
               Please select type!!!
            </div>
        </template>
        <span>Love Type: {{ loveType }}</span><br>
        <span>Love List: <span v-if='loveList.length == 0'>Nothing.</span></span><br>

        <ul v-for="love in loveList">
            <li>{{ love }}</li>

        </ul>
        <span>Love Length: {{ loveList.length }}</span><br>

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                loveType: '',
                loveList: []
            },
            computed: {
                getLoveLitLength: function() {
                    return this.loveList.length;
                },

                isLoveAnimal: function() {
                    return this.loveType == 'animal';
                },
                isLoveFlower: function() {
                    return this.loveType == 'flower';
                }
            },
            watch: {
                loveType: function(newValue, oldValue) {
                    this.loveList = []
                }
            },

        });
    </script>


</body>

</html>